@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900|Inconsolata:400,700');

* {
  box-sizing: border-box;
}

html {
  font-family: Lato, sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.App-header {
  border-bottom: 1px solid #eee;
  z-index: 10;
  position: relative;
}
.App-nav {
  margin: 0.75rem 1.5rem;
}
.App-nav a {
  display: inline-block;
  color: #555555;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-right: 2rem;
  text-decoration: none;
}
.App-nav a.active {
  color: #1cde78;
}

.App-loading-indicator {
  position: fixed;
  height: 4px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1cde78;
  background-image: linear-gradient(-45deg, rgba(255,255,255,0.25) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.25) 50%, rgba(255,255,255,0.25) 75%, transparent 75%, transparent);
  background-size: 35px 35px;
  z-index: 1000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  transform: translateY(-4px);
  transition: transform ease-in 300ms, opacity ease-in 300ms;
  transition-delay: 0;
  animation: App-loading 2s cubic-bezier(.4,.45,.6,.55) infinite;
  opacity: 0;
}

.App-loading-indicator.active {
  transition-delay: 333ms;
  transform: translateY(0);
  opacity: 1;
}

@keyframes App-loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}

.Index {
  text-align: center;
  padding-top: 1rem;
}
.Index p {
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem 0;
  position: relative;
}
.Index code {
  font-family: Inconsolata;
}
.Index-logo {
  position: relative;
  height: 128px;
  left: 10px;
  margin: 0 auto;
  width: 256px;
}
.Index-logo-navi,
.Index-logo-react {
  height: 128px;
  position: absolute;
}
.Index-logo-navi {
  animation: Index-logo-navi-spin infinite 20s linear;
  left: 100px;
  top: 1px;
}
.Index-logo-react {
  animation: Index-logo-react-spin infinite 20s linear;
  left: -16px;
  top: 1px;
}

@keyframes Index-logo-navi-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Index-logo-react-spin {
  from {
    transform: rotate(330deg);
  }
  to {
    transform: rotate(-30deg);
  }
}

.GettingStarted {
  margin: 1.5rem;
}

.GettingStarted h1 {
  color: #333;
  font-size: 2rem;
  margin-top: 3rem;
  line-height: 2.5rem;
}