:local {
  $primary: #1ee79e;
  $border: #eee;
  $sidebarWidth: 250px;

  .Nav {
    transition: transform 180ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transform: translate3d(0, 0, 0);

    a {
      text-decoration: none;
    }

    @media only screen and (max-width: 1100px) {
      &:not(.open) {
        transition: transform 180ms cubic-bezier(0.895, 0.030, 0.685, 0.220);
        transform: translate3d(-$sidebarWidth, 0, 0);
      }
    }
  }

  .Sidebar {
    position: absolute;
    top: 0;
    height: 100vh;
    left: 0;
    width: $sidebarWidth;

    background-color: #f8f8f8;

    border-right: 1px solid $border;
    font-weight: 400;
    background-color: white;
  }

  .brand {
    display: block;
    text-align: left;
    padding: 1rem 2rem;
    margin-left: -2px;
    border-bottom: 1px solid $border;
    margin-bottom: 2rem;

    .logo {
      height: 32px;
      margin: 0 auto;
      line-height: 32px;
      vertical-align: -10px;
    }
    .name {
      display: inline-block;
      color: #444444;
      font-family: Lato, sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
      margin-left: 0.25rem;
    }
  }

  .link {
    display: block;
    padding-left: 3rem;
    line-height: 2.4rem;
    padding: 0.8rem 0 0.8rem 2rem;
    font-size: 1.6rem;
    color: darken(desaturate($primary, 75%), 5%);

    code {
      font-size: inherit;
    }

    &.github img {
      height: 20px;
      width: 20px;
      vertical-align: middle;
      margin-right: 6px;
      opacity: 0.73;
    }

    &:hover {
      color: $primary !important;

      &.github {
        color: rgba(0, 0, 0, 1) !important;
        img {
          opacity: 1;
        }
      }
    }
  }

  .section {
    > .heading {
      border: none;
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: bold;
      color: lighten(desaturate($primary, 75%), 8%);
      display: block;
      width: 100%;
      text-align: left;
      background-color: transparent;
      padding: 1rem 2rem;
      margin: 0;
      margin-top: 1rem;
      text-transform: uppercase;
      transition: color 250ms ease-out;
    }

    .toggle {
      float: right;
      transition: transform 250ms ease-out;
    }

    margin-bottom: 2rem;

    &.closed .children {
      display: none;
    }
    &.closed .toggle {
      transform: rotate(-90deg);
    }
  }
  .page + .section {
    margin-top: 2rem;
  }
  .section.closed .children {
    display: none;
  }
  .section.open .heading {
    color: black;
  }
  .section.open > .children {
    // margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .page {
    position: relative;

    .pro {
      float: right;
      font-size: 1.25rem;
      font-weight: normal;
      line-height: 2rem; 
      border: 1px solid $primary;
      border-radius: 2rem;
      padding: 0 1rem;
      margin: 0.9rem 0.75rem 0 0;
      color: $primary;
    }
  }
  .page .highlight {
    position: absolute;
    left: 0;
    height: 100%;
    border-right: 0.5rem transparent solid;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: border-color 300ms ease-out;
  }
  .page.active .highlight {
    border-right-color: $primary;
  }
  .page.active > .link {
    color: black;
    font-weight: bold;
  }
  .page .children {
    padding: 0 0 0.5rem;
    margin-top: 0;
  }
  .heading > .link {
    color: lighten(desaturate($primary, 75%), 8%);
    padding: 0.666rem 0 0.666rem 3rem;
    font-size: 1.4rem;
    line-height: 2rem;

    &:hover {
      color: desaturate($primary, 25%) !important;
    }
  }
  .heading.active > .link {
    color: $primary;
  }


  @media only screen and (min-width: 1101px) {
    .hamburger {
      display: none;
    }
  }
  
  .hamburger {
    position: absolute;
    top: 1rem;
    left: 2rem;
    margin-left: $sidebarWidth;
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: 1px solid $primary;
    border-radius: 3px;

    > .icon {
      position: absolute;
      z-index: 4;
      width: 16px;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      height: 3px;
      background: $primary;
      border-radius: 2px;
      transition: background 120ms cubic-bezier(0.165, 0.840, 0.440, 1.000);

      &:before,
      &:after {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        width: 16px;
        background: $primary;
        border-radius: 2px;
        transform-origin: 14% center;
        transition: transform 120ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
      }
      &:before {
        top: -6px;
      }
      &:after{
        bottom: -6px;
      }
      &.open {
        background: transparent;
      }
      &.open:before {
        transform: rotate(45deg);
      }
      &.open:after {
        transform: rotate(-45deg);
      }
    }
  }
}