@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900|Inconsolata:400,700');

* {
  box-sizing: border-box;
}

html {
  font-family: Lato, sans-serif;
  font-size: 8px;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 3rem;
}

.App main {
  margin: 2rem;
}
.App-header {
  border-bottom: 1px solid #eee;
}
.App-header h1 {
  margin: 1rem 1.5rem;
}
.App-header img {
  height: 32px;
  margin: 0 auto;
  line-height: 32px;
  vertical-align: -10px;
}
.App-header span {
  display: inline-block;
  color: #444444;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  margin-left: 0.25rem;
}
